<!DOCTYPE html>

<html>
    <head>
            <title> Machine Learning App Project </title>
    </head>

    <body>
        <h1> Diaster tweets Project </h1>

        <br>

        <p> 
            This is the home page for the app mentioned in this <a href='https://github.com/acolgithub/disaster_tweets'> Github repository </a>. <br>
            The model makes use of the <a href="https://www.kaggle.com/competitions/nlp-getting-started/overview"> Kaggle disaster tweets dataset </a>. <br>
            Below, you can see an overall analysis of the model.
        </p>
    </body>
</html>