<!DOCTYPE html>

<html>
    <head>
            <title> Machine Learning App Project </title>
    </head>

    <body>
        <h1> Diaster tweets Project </h1>

        <br>

        <p> 
            This is the home page for the app mentioned in the Github repository found <a href='https://github.com/acolgithub/disaster_tweets'> here </a>. <br>
            The model makes use of the Kaggle disaster tweets dataset found <a href="https://www.kaggle.com/competitions/nlp-getting-started/overview"> here </a>. <br>
            Below, you can see the predictions from the model.
        </p>
    </body>
</html>